app/code/local/Aitoc/Aitcheckoutfields/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderEntity">
                <xsd:sequence>
                    <xsd:element name="increment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="parent_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_active" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="subtotal" type="xsd:string" minOccurs="0" />
                    <xsd:element name="grand_total" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_paid" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_online_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_subtotal" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_grand_total" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_paid" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_canceled" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_online_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_address_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="billing_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_to_order_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_to_order_rate" type="xsd:string" minOccurs="0" />
                    <xsd:element name="weight" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="remote_ip" type="xsd:string" minOccurs="0" />
                    <xsd:element name="status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="state" type="xsd:string" minOccurs="0" />
                    <xsd:element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <xsd:element name="global_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_currency_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_method" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_email" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="quote_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_group_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_note_notify" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_is_guest" type="xsd:string" minOccurs="0" />
                    <xsd:element name="email_sent" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="gift_message_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="gift_message" type="xsd:string" minOccurs="0" />
                    <xsd:element name="shipping_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                    <xsd:element name="billing_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                    <xsd:element name="items" type="typens:salesOrderItemEntityArray" minOccurs="0" />
                    <xsd:element name="payment" type="typens:salesOrderPaymentEntity" minOccurs="0" />
                    <xsd:element name="status_history" type="typens:salesOrderStatusHistoryEntityArray" minOccurs="0" />
                    <xsd:element name="aitoc_order_custom_data" type="typens:salesOrderAitocOrderCustomDataEntityArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="salesOrderAitocOrderCustomDataEntity">
                <xsd:sequence>
                    <xsd:element name="label" type="xsd:string" minOccurs="0" />
                    <xsd:element name="value" type="xsd:string" minOccurs="0" />
                    <xsd:element name="code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="type" type="xsd:string" minOccurs="0" />
                    <xsd:element name="rawval" type="xsd:string" minOccurs="0" />
                    <xsd:element name="id" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="salesOrderAitocOrderCustomDataEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:salesOrderAitocOrderCustomDataEntity" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>

<!--
/**
 * All-In-One Checkout v1.0.15 : All-In-One Checkout v1.0.15 (CFM Unit)
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckoutfields
 * @version      1.0.15 - 2.9.15
 * @license:     jC7sr77MwqoHj2SDR8w4YXR3o3w7irXLNFUdRYpgyc
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
-->
